/* montserrat font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* General Styles starts*/
* {
  box-sizing: border-box;
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
  overflow-x: hidden;
}

:root {
  --blue-logo: hsl(201, 73%, 49%);
}

.navbar .nav-link {
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.navbar .nav-item .active {
  border-left: 3px solid #444;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

#main-footer {
  border-top: 4px solid var(--blue-logo);
  border-bottom: 4px solid var(--blue-logo);
}

.navbar-custom {
  border-bottom: 4px solid var(--blue-logo);
  padding: 0 !important;
}

/* Cookie section */
.cookie-container p {
  margin: 5px 0;
  line-height: 2;
  text-align: center;
}

.cookie-btn {
  color: black;
  text-align: center;
}

.cookie-container {
  text-align: center;
  position: fixed;
  bottom: -100%;
  left: 0;
  right: 0;
  background: rgba(3, 75, 102, 0.95);
  color: #f5f6fa;
  padding: 0px;
  transition: 0.4;
  box-shadow: 0 -2px 16px rgba(20, 52, 63, 0.151);
}

.cookie-container.active {
  bottom: 0;
}

.cookie-btn {
  background: #568493;
  border: 0;
  color: #f5f6fa;
  padding: 5px 10px;
  font-size: 12px;
  margin-bottom: 5px;
  border-radius: 10px;
  cursor: pointer;
}

.cookie-link {
  background: #568493;
  border: 0;
  color: #f5f6fa;
  padding: 5px 10px;
  font-size: 12px;
  margin-bottom: 5px;
  border-radius: 10px;
  cursor: pointer;
}

.cookie-container a {
  text-decoration: none;
}

.cookie-container a:hover {
  color: #fff;
}

/* Cookie section */

/* FOOTER */
#main-footer .col-md-4 {
  align-self: center;
}

.col-md-4 .header {
  border-bottom: 2px solid #444;
  width: 100px;
  margin: auto;
  margin-bottom: 10px;
}

.useful-links-list {
  padding: 0;
  list-style-type: none;
}

/* FOOTER */

/* General Styles ends*/

/* Index Page starts */
.carousel-control-next {
  z-index: 0;
}

.carousel-item {
  height: 450px;
}

.carousel-image-1 {
  background: url("../img/home/img1.jpg");
  background-size: cover;
  background-position: center center;
}

.carousel-image-2 {
  background: url("../img/home/img2.jpg");
  background-size: cover;
  background-position: center center;
}

.carousel-image-3 {
  background: url("../img/home/img3.jpg");
  background-size: cover;
  background-position: center center;
}

#home-heading-index {
  position: relative;
  min-height: 200px;
  background: url("../img/home/img1.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #fff;
}

#home-heading-index .row {
  width: 100%;
}

.dark-overlay {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.dark-overlay-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

#showcase {
  margin-top: 5em;
}

/* INFO SECTION */
#info .img-fluid {
  border-radius: 10%;
}
/* INFO SECTION */

/* HOME ICON */

.resizeable {
  text-decoration: none;
  color: #212529;
  transition: transform 0.5s;
  padding: 30px;
  border-radius: 10px;
}

#home-icons .resizeable:hover {
  transform: scale(1.1);
  background-color: #f8f8f8;
  color: #000;
}
/* HOME ICON */

/* Social Media Section */
#social-header {
  position: relative;
  min-height: 200px;
  background: url("../img/home/img1.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  color: #fff;
}

#social-header .row {
  width: 100%;
}

#social-header a {
  color: #fff;
  text-decoration: none;
}

#social-header i {
  transition: transform 0.3s;
}

#social-header i:hover {
  transform: scale(1.1);
}

#social-header .fa-facebook-square:hover {
  color: #4267b2;
}

#social-header .fa-twitter-square:hover {
  color: #00acee;
}

#social-header .fa-linkedin:hover {
  color: #0e76a8;
}

#social-header .fa-pinterest-square:hover {
  color: #c8232c;
}

/* Social Media Section */

/* Photo Gallery */
.is-visible {
  animation: appear 3s 1;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#gallery .col-md-4 {
  overflow: hidden;
}

#gallery .col-md-4 img {
  transition: transform 0.7s ease;
}

#gallery .col-md-4:hover img {
  transform: scale(1.2);
}

#gallery img:hover {
  filter: brightness(0.65);
}

.small-image {
  cursor: pointer;
}

.large-image {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.no-display {
  display: none !important;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0.75;
  filter: blur(2px);
  z-index: 4;
}

.actual-close-icon {
  color: #fff;
  font-size: 40px;
  cursor: pointer;
}

.v-alligned {
  align-self: center;
}

.v-alligned i {
  font-size: 40px;
  color: #fff;
  cursor: pointer;
}

.arrow-left {
  margin-right: 20px;
}

.arrow-right {
  margin-left: 20px;
}

/* Photo Gallery */

/* Index Page ends*/

/* About page starts*/

#page-header-about {
  background: url("../img/about/img1.jpg");
  background-attachment: fixed;
  color: #fff;
  margin-top: 5em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 75px;
  padding-bottom: 75px;
}

.about-img {
  margin-top: -50px;
}

.justified {
  text-align: justify;
}

/* About page ends*/

/* Profile page starts*/
.sigplast {
  display: flex;
  justify-content: center;
}

#page-header-services {
  background: url("../img/headers/img3.jpg");
  background-attachment: fixed;
  color: #fff;
  margin-top: 7em;
  background-position: center -300px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 120px 0px;
}

#page-header-services .container {
  align-self: center;
}

.dark-overlay-3 {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
}
/* Profile page ends*/

/* Factory Page starts*/
#service-cards .img-fluid {
  max-height: 300px;
}

#service-cards .order-row {
  width: 100%;
}

.factory-header {
  align-self: center;
}

#page-header-factory {
  background: url("../img/factory/factory.jpg");
  background-attachment: fixed;
  color: #fff;
  margin-top: 7em;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 120px 0px;
}
/* Factory Page ends*/

/* Workshop Page starts*/

main hr {
  color: #b8b8b8;
}

#page-header-workshop {
  background: url("../img/workshop/workshop1.jpg");
  background-attachment: fixed;
  color: #fff;
  margin-top: 7em;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 120px 0px;
}
/* Workshop Page ends*/

/* Contact Page */
#page-header-contact {
  background: url("../img/contact/contact.jpg");
  background-attachment: fixed;
  color: #fff;
  margin-top: 7em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 120px 0px;
}

#contact iframe {
  width: 100%;
  height: 100%;
}

.workshop-contact-1 {
  border: 1px solid #25d366;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 10px;
  background-color: #25d366;
  color: #fff;
}

.workshop-contact-2 {
  border: 1px solid #25d366;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 10px;
  background-color: #25d366;
  color: #fff;
}

.whatsapp-link-1 {
  position: fixed;
  bottom: 30px;
  right: 30px;
  text-align: center;
}

.whatsapp-link-1 i {
  color: #25d366;
  background-color: #fff;
  line-height: 0.75;
}

.whatsapp-link-2 i {
  color: #25d366;
  background-color: #fff;
  line-height: 0.75;
}

.whatsapp-link-2 {
  position: fixed;
  bottom: 30px;
  left: 30px;
  text-align: center;
}

/* .whatsapp-link-2-sp {
  position: fixed;
  bottom: 20%;
  right: 2rem;
  text-align: center;
}

.whatsapp-link-2-sp i {
  color: #25d366;
  background-color: #fff;
  line-height: 0.75;
} */
/* Contact Page */

/* Windows Page & Gallery Page*/
.window-gallery-row .col-md-4 {
  overflow: hidden;
}

.window-gallery-row .col-md-4 img {
  transition: transform 0.7s ease;
}

.window-gallery-row .col-md-4:hover img {
  transform: scale(1.2);
}

.window-gallery-row img:hover {
  filter: brightness(0.65);
}

/* Windows Page & Gallery Page*/

/* Cookies Page */

/* Cookies Page */

/* Form styling */

/* .form-container {
  background-color: rgb(83, 92, 145);
  color: white;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5rem 10rem;
  max-width: 650px;
  z-index: 4;
}

.form-close-button {
  position: absolute;
  top: 4%;
  right: 7.5%;
  border: none;
  background-color: transparent;
  color: white;
}

.form-button:hover {
  cursor: pointer;
} */

.action-buttons {
  display: flex;
  gap: 1rem;
}

.btn-send-custom {
  flex: 1;
}

.btn-cancel-custom {
  flex: 1;
}

.factory-workshop {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.factory-icon {
  font-size: 4rem;
  color: white;
}

.workshop-icon {
  font-size: 4rem;
  color: white;
}

/* .factory-workshop__workshop {
  flex: 1;
  background-color: rgb(146, 144, 195);
  text-align: center;
  padding: 1rem;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.factory-workshop__factory {
  flex: 1;
  background-color: rgb(83, 92, 145);
  text-align: center;
  padding: 1rem;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
} */

.factory-workshop__factory:hover,
.factory-workshop__workshop:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.factory-workshop__factory {
  background-color: rgb(83, 92, 145);
  text-align: center;
  padding: 1rem;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  max-width: 200px;
}

.factory-workshop__workshop {
  background-color: rgb(146, 144, 195);
  text-align: center;
  padding: 1rem;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  max-width: 200px;
}

.info-factory {
  color: rgb(83, 92, 145);
}

.info-workshop {
  color: rgb(146, 144, 195);
}

/* Form styling */

/* Side-buttons styling */

.side-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: fixed;
  bottom: 35%;
  right: 20px;
}

.message-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.message-form-inner {
  background-color: rgb(146, 199, 207);
  color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
}

.message-form-inner-hidden {
  opacity: 0;
}

.message-form-inner::after {
  content: "";
  position: absolute;
  bottom: 60%;
  right: 3rem;
  transform: translateY(-50%);
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid rgb(146, 199, 207);
}

.side-buttons-whatsapp-link {
  color: #25d366;
}

.side-buttons-whatsapp-link:hover {
  color: #25d366;
}

.side-buttons-form-button {
  background-color: rgb(83, 92, 145);
  padding: 0.5rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  color: white;
  border: none;
}

.side-buttons-form-button:hover {
  cursor: pointer;
}

.whatsapp-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.whatsapp-container-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 0 3px;
  border-radius: 5px;
}

.back-top-btn {
  position: fixed;
  bottom: 7.5%;
  right: 20px;
  display: flex;
  justify-content: center;
  font-size: 3rem;
  z-index: 100;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.back-top-btn-inner {
  color: hsl(201, 74%, 49%);
  background-color: white;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  display: flex;
}

.show {
  opacity: 1;
}

.whatsapp-link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  background-color: #66d2ce;
  border-radius: 50%;
  padding: 1.5rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  max-width: 180px;
}

.whatsapp-link-container:hover {
  transform: scale(1.1);
}

/* Side-buttons styling */

/* submitted.html page styling */

.submitted-message-main {
  height: 100vh;
  background-color: rgba(83, 92, 145);
}

.submitted-message-inner {
  color: #fff;
}

.email-thank-you-page {
  color: white;
  font-weight: bold;
  transition: all 0.3s ease;
}

.email-thank-you-page:hover {
  color: #0d6efd;
}

/* submitted.html page styling */

/* Signature styling */
.signature-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(68, 68, 68);
  color: white;
  font-size: 14px;
  padding: 0.3rem;
}

.signature-link-custom {
  color: rgb(254, 107, 42);
}

.signature-link-custom:hover {
  color: rgb(254, 107, 42);
}

/* Signature styling */

/* Styling the WhatsApp modal start */

.modal-custom {
  z-index: 1060;
}

.whatsapp-icon-custom {
  color: #075e54;
}

/* Styling the WhatsApp modal end */

/* Media Queries */
@media (max-width: 768px) {
  .padded-y {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .padded-y2 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

/* Media Queries for submitted.html */

/* @media (max-width: 400px) {
  .top-message-container {
    margin-top: 8rem;
  }
  .thank-you-message-container {
    gap: 1rem;
  }
  .btn-home-custom {
    display: grid;
    margin-top: 1rem;
  }
}

@media (max-width: 900px) {
  .top-message-container {
    margin-top: 10rem;
  }
  .thank-you-message-container {
    gap: 2rem;
  }
  .btn-home-custom {
    display: grid;
    margin-top: 2rem;
  }
}

@media (min-width: 901px) {
  .top-message-container {
    margin-top: 15rem;
  }
  .thank-you-message-container {
    gap: 4rem;
  }
  .btn-home-custom {
    display: grid;
    margin-top: 1rem;
  }
} */

/* Media Queries for submitted.html */

/* Media Queries for form */
/* Media Queries for form */
/* Media Queries */
